# Backend
SQLALCHEMY_ECHO=True
JWT_SECRET_KEY=your-secret
JWT_EXPIRATION_MINUTES=30

# Database
POSTGRES_USER=user_1
POSTGRES_PASSWORD=123456789
POSTGRES_DB=orders_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# kafka
KAFKA_HOST=localhost
KAFKA_PORT=9094

# TODO: ?
MODE=DEV
