# Backend
JWT_SECRET_KEY=your-secret
JWT_EXPIRATION_MINUTES=30

# Database
POSTGRES_USER=local_user
POSTGRES_PASSWORD=local_password
POSTGRES_DB=orders_db
POSTGRES_HOST=postgres

# Kafka
KAFKA_HOST=kafka
KAFKA_PORT=9092
